<div class="container mb-4">
	<div class="row">	
		<div class="col-sm-9">
			<div class="breadcrumbs">
				<?php
					// Вывод строки навигации
					$Structure_Controller_Breadcrumbs = new Structure_Controller_Breadcrumbs(
						Core_Entity::factory('Site', CURRENT_SITE)
					);

					$Structure_Controller_Breadcrumbs
						->xsl(
							Core_Entity::factory('Xsl')->getByName('ХлебныеКрошкиNEW')
						)
						->show();
				?>
			</div>
			<?php
				Core_Page::instance()->execute();
			?>
		</div>
		<div class="col-sm-3 olmed_sidebar">
			<?php
				// Услуги справа
				$Informationsystem_Controller_Show_Observer = new Informationsystem_Controller_Show_Observer(
					Core_Entity::factory('Informationsystem', Core_Page::instance()->config['informationsystemId2'])
				);

				$Informationsystem_Controller_Show_Observer
					->xsl(
						Core_Entity::factory('Xsl')->getByName('УслугиСправаNEW')
					)
					->groupsMode('tree')
					->groupsForbiddenTags(array('description','seo_title','seo_description','seo_keywords')) 
					->group(0)
					->groupsProperties(array('98'))
					->show();
                       ?>
		</div>
	</div>
</div>