@charset "UTF-8";
body {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #2a2a2a;
}
a {
  color: #046391;
}
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
.absolute {
  position: absolute;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  color: #046391;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.71rem;
}
h3,
.h3 {
  font-size: 1.57rem;
}
.fs20 {
  font-size: 1.4286rem;
}
h4,
.h4 {
  font-size: 1.29rem;
}
h5,
.h5 {
  font-size: 1.14rem;
}
h6,
.h6 {
  font-size: 1rem;
}
button {
  cursor: pointer;
}
.blue-gradient {
  background: #018dcc;
  background: -moz-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: -webkit-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: linear-gradient(to bottom,#018dcc 0%,#056494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018dcc',endColorstr='#056494',GradientType=0);
}
.blue-gradient .form-control[readonly] {
  background: #fff;
}
.modal .blue-gradient  .form-row div:nth-child(2) {
  width: 100%;
  margin-bottom: 20px;
}
.modal .blue-gradient .form-row div:nth-child(3),
.modal .blue-gradient .form-row div:nth-child(4) {
  width: 231px;
  margin-bottom: 20px;
}
.red-gradient {
  background: #e21e25;
  background: -moz-linear-gradient(top,#e21e25 0%,#a1231e 100%);
  background: -webkit-linear-gradient(top,#e21e25 0%,#a1231e 100%);
  background: linear-gradient(to bottom,#e21e25 0%,#a1231e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e21e25',endColorstr='#a1231e',GradientType=0);
}
.gray-gradient {
  background: #f1f1f1;
  background: -moz-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: -webkit-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: linear-gradient(to bottom,#f1f1f1 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#dedede',GradientType=0);
}
.upper {
  text-transform: uppercase;
}
.header {
  padding: 30px 0 10px;
}
.header >div:before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  width: 1px;
  background: #8b8b8b;
}
.header >div:last-child:before {
  display: none;
}
header .phone-box {
  padding: 0 0 0 60px;
  background-image: url(/i/ico-phone.png);
  background-repeat: no-repeat;
  background-position: 0% 30%;
}
header .phone-box button,
header .phone-box .btn:active,
header .phone-box .btn.active {
  background: #018dcc;
  background: -moz-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: -webkit-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: linear-gradient(to bottom,#018dcc 0%,#056494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018dcc',endColorstr='#056494',GradientType=0);
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
header .mode-box {
  padding: 0 0 0 60px;
  background-image: url(/i/ico-clock.png);
  background-repeat: no-repeat;
  background-position: 0% 30%;
}
header .mode-box button,
header .mode-box .btn:active,
header .mode-box .btn.active {
  background: #e21e25;
  background: -moz-linear-gradient(top,#e21e25 0%,#a1231e 100%);
  background: -webkit-linear-gradient(top,#e21e25 0%,#a1231e 100%);
  background: linear-gradient(to bottom,#e21e25 0%,#a1231e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e21e25',endColorstr='#a1231e',GradientType=0);
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
header .city-box select.form-control {
  margin-bottom: 10px;
  height: 30px !important;
  padding: 0.14rem 0.75rem;
  border-radius: 2px;
}
header .city-box a {
  color: inherit;
}
header .navbar {
  background: #f1f1f1;
  background: -moz-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: -webkit-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: linear-gradient(to bottom,#f1f1f1 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#dedede',GradientType=0);
  padding: 0 0 0 1rem;
}
header .navbar form {
  background: #018dcc;
  background: -moz-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: -webkit-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: linear-gradient(to bottom,#018dcc 0%,#056494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018dcc',endColorstr='#056494',GradientType=0);
  padding: 0.4rem 0 0.4rem 0.4rem;
}
header .navbar form input.form-control {
  width: 270px;
}
.navbar-nav .nav-link {
  position: relative;
  text-transform: uppercase;
  color: #046391;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-nav .nav-link:hover {
  color: #bb2121;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
#mainSlider {
  margin-bottom: 20px;
}
.owl-theme .owl-nav {
  margin: 0;
}
.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  font-size: 2rem;
  margin: -1rem 0 0;
  top: 50%;
  bottom: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 7px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #4192ba;
}
.owl-theme .owl-nav .owl-prev {
  left: 0;
}
.owl-theme .owl-nav .owl-next {
  right: 0;
}
.owl-theme .owl-dots {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #4192ba;
}
.owl-arrow-black .owl-nav [class*='owl-'],
.owl-arrow-black .owl-nav [class*='owl-']:hover {
  color: #046391;
  font-size: 4rem;
  background: transparent;
  margin: -2rem 0 0;
  height: 4rem;
  line-height: 4rem;
}
.owl-arrow-black .owl-nav .owl-prev {
  left: -2.5rem;
}
.owl-arrow-black .owl-nav .owl-next {
  right: -2.5rem;
}
.service-box {
  background: #f1f1f1;
  background: -moz-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: -webkit-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: linear-gradient(to bottom,#f1f1f1 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#dedede',GradientType=0);
  padding: 1.43rem 2.14rem;
  height: 100%;
}
.service-box a {
  text-transform: uppercase;
  text-decoration: none;
}
.service-box a .fa {
  margin-right: 25px;
}
.service-box a:hover {
  color: #bb2121;
}
.service-box a.active {
  color: #bb2121;
}
.service-box-right .h4 {
  color: #fff;
  padding: 0.5rem 0;
  margin-bottom: 0;
  background-color: #05618d;
}
.service-box-right .list-group-item:first-child,
.service-box-right .list-group-item:last-child {
  border-radius: 0;
}
.service-box-right .list-group-item {
  background-color: #5093df;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.service-box-right a.active {
  color: #bb2121;
}
.sign-up-box {
  color: #fff;
  margin-bottom: 1.5rem;
}
.sign-up-box .row>[class^=col-] {
  background: #018dcc;
  background: -moz-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: -webkit-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: linear-gradient(to bottom,#018dcc 0%,#056494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018dcc',endColorstr='#056494',GradientType=0);
  padding: 1.43rem;
}
.sign-up-box .h3 {
  color: #fff;
}
.sign-up-box input[type=text],
.sign-up-box input[type=tel] {
  height: 45px;
  border-radius: 2px;
}
.sign-up-box button,
.sign-up-box .btn:active,
.sign-up-box .btn.active {
  background: #e21e25;
  background: -moz-linear-gradient(top,#e21e25 0%,#a1231e 100%);
  background: -webkit-linear-gradient(top,#e21e25 0%,#a1231e 100%);
  background: linear-gradient(to bottom,#e21e25 0%,#a1231e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e21e25',endColorstr='#a1231e',GradientType=0);
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.sign-up-box button img,
.sign-up-box .btn:active img,
.sign-up-box .btn.active img {
  margin-left: 10px;
}
.advantages-box .h4 {
  margin-bottom: 20px;
}
.advantages-box .advantage-desc {
  width: 80%;
  padding-left: 85px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.schedule-box {
  margin-bottom: 1.5rem;
}
.schedule-box .row>[class^=col-] {
  background: #f1f1f1;
  background: -moz-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: -webkit-linear-gradient(top,#f1f1f1 0%,#dedede 100%);
  background: linear-gradient(to bottom,#f1f1f1 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#dedede',GradientType=0);
  padding: 1.43rem;
}
.schedule-box .h3 {
  color: #333;
}
.schedule-box .btn,
.schedule-box .btn:active,
.schedule-box .btn.active {
  background: #018dcc;
  background: -moz-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: -webkit-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: linear-gradient(to bottom,#018dcc 0%,#056494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018dcc',endColorstr='#056494',GradientType=0);
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.schedule-box .btn img,
.schedule-box .btn:active img,
.schedule-box .btn.active img {
  margin-left: 10px;
}
.reviews-box .h2 {
  color: #333;
}
.reviews-box .h2 small {
  margin-left: 15px;
  font-size: 50%;
}
.reviews-box .h2 small a {
  text-decoration: underline;
}
.reviews-box .review-slider {
  border: 2px solid #83c1dd;
  padding: 2rem 3.57rem;
}
.reviews-box .review-slider button,
.reviews-box .review-slider .btn:active,
.reviews-box .review-slider .btn.active {
  background: #018dcc;
  background: -moz-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: -webkit-linear-gradient(top,#018dcc 0%,#056494 100%);
  background: linear-gradient(to bottom,#018dcc 0%,#056494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018dcc',endColorstr='#056494',GradientType=0);
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.reviews-box .review-slider button img,
.reviews-box .review-slider .btn:active img,
.reviews-box .review-slider .btn.active img {
  margin-left: 10px;
}
#videoSlider .item-video {
  height: 200px;
}
.offers-left-text {
  font-size: 24px;
  text-align: center;
  margin: 20px 0 30px;
}
.offers-left {
  color: #056494;
  font-weight: bold;
}
.card-header {
  color: #046391;
  cursor: pointer;
}
.card-body {
  display: none;
}
footer {
  background-color: #f2f2f2;
  padding: 30px 0;
}
footer .social-box a {
  font-size: 28px;
  color: #787878;
  margin: 0 10px;
}
.modal-body {
  padding-bottom: 0;
}
.modal-footer {
  padding-top: 0;
  border: none;
}
input.input_error,
select.input_error,
textarea.input_error {
  border-color: #dc3545;
}
label.input_error {
  display: block;
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}
.breadcrumb {
  background-color: transparent;
  padding: 0 1rem;
}
.specialists__text > div > div {
  max-width: 100% !important;
  min-width: unset !important;
}
.specialist-img {
  height: 200px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.group_list > ul > li > a {
  font-size: 1.4286rem;
  color: #046391;
}
.u-consult .cod,
.cod-tel {
  font-weight: bold;
  color: #149ebd;
}
.u-consult .cod,
.u-consult .cod-tel {
  font-size: 2.1429rem;
}
div.send.new {
  display: none;
}
.blue-text {
  position: relative;
  border-top: 2px solid #e6e6e5;
  border-left: 1px solid #e6e6e5;
  border-right: 1px solid #e6e6e5;
  padding: 1.7855rem 3.571rem;
  color: #2472ba;
}
.blue-text p.blue-title {
  color: #046391;
  font-size: 1.71rem;
  padding-bottom: 0.7142rem;
}
.blue-text ul {
  margin-bottom: 0.7142rem;
}
.blue-text ul li {
  margin-left: 2.8568rem;
}
.blue-text:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1.0713rem;
  height: 16px;
  width: 100%;
  background: url('/img/blue-t-bg.jpg') repeat-x center bottom;
}
.padding-5 {
  padding: 0.3571rem !important;
}
.padding-10 {
  padding: 0.7142rem !important;
}
.padding-15 {
  padding: 1.0713rem !important;
}
.padding-20 {
  padding: 1.4284rem !important;
}
.padding-30 {
  padding: 2.1426rem !important;
}
.padding-40 {
  padding: 2.8568rem !important;
}
.padding-50 {
  padding: 3.571rem !important;
}
.padding-left-5 {
  padding-left: 0.3571rem !important;
}
.padding-left-10 {
  padding-left: 0.7142rem !important;
}
.padding-left-20 {
  padding-left: 1.4284rem !important;
}
.padding-left-30 {
  padding-left: 2.1426rem !important;
}
.padding-left-40 {
  padding-left: 2.8568rem !important;
}
.padding-left-50 {
  padding-left: 3.571rem !important;
}
.padding-top-5 {
  padding-top: 0.3571rem !important;
}
.padding-top-10 {
  padding-top: 0.7142rem !important;
}
.padding-top-20 {
  padding-top: 1.4284rem !important;
}
.padding-top-30 {
  padding-top: 2.1426rem !important;
}
.padding-top-40 {
  padding-top: 2.8568rem !important;
}
.padding-top-50 {
  padding-top: 3.571rem !important;
}
.padding-top-100 {
  padding-top: 7.142rem !important;
}
.padding-right-5 {
  padding-right: 0.3571rem !important;
}
.padding-right-10 {
  padding-right: 0.7142rem !important;
}
.padding-right-20 {
  padding-right: 1.4284rem !important;
}
.padding-right-30 {
  padding-right: 2.1426rem !important;
}
.padding-right-40 {
  padding-right: 2.8568rem !important;
}
.padding-right-50 {
  padding-right: 3.571rem !important;
}
.padding-bottom-5 {
  padding-bottom: 0.3571rem !important;
}
.padding-bottom-10 {
  padding-bottom: 0.7142rem !important;
}
.padding-bottom-20 {
  padding-bottom: 1.4284rem !important;
}
.padding-bottom-30 {
  padding-bottom: 2.1426rem !important;
}
.padding-bottom-40 {
  padding-bottom: 2.8568rem !important;
}
.padding-bottom-50 {
  padding-bottom: 3.571rem !important;
}
.margin-5 {
  margin: 0.3571rem !important;
}
.margin-10 {
  margin: 0.7142rem !important;
}
.margin-20 {
  margin: 1.4284rem !important;
}
.margin-30 {
  margin: 2.1426rem !important;
}
.margin-40 {
  margin: 2.8568rem !important;
}
.margin-50 {
  margin: 3.571rem !important;
}
.margin-left-5 {
  margin-left: 0.3571rem !important;
}
.margin-left-10 {
  margin-left: 0.7142rem !important;
}
.margin-left-20 {
  margin-left: 1.4284rem !important;
}
.margin-left-25 {
  margin-left: 1.7855rem !important;
}
.margin-left-30 {
  margin-left: 2.1426rem !important;
}
.margin-left-40 {
  margin-left: 2.8568rem !important;
}
.margin-left-50 {
  margin-left: 3.571rem !important;
}
.margin-top-5 {
  margin-top: 0.3571rem !important;
}
.margin-top-10 {
  margin-top: 0.7142rem !important;
}
.margin-top-15 {
  margin-top: 1.0713rem !important;
}
.margin-top-20 {
  margin-top: 1.4284rem !important;
}
.margin-top-30 {
  margin-top: 2.1426rem !important;
}
.margin-top-40 {
  margin-top: 2.8568rem !important;
}
.margin-top-50 {
  margin-top: 3.571rem !important;
}
.margin-top-100 {
  margin-top: 7.142rem !important;
}
.margin-right-5 {
  margin-right: 0.3571rem !important;
}
.margin-right-10 {
  margin-right: 0.7142rem !important;
}
.margin-right-20 {
  margin-right: 1.4284rem !important;
}
.margin-right-30 {
  margin-right: 2.1426rem !important;
}
.margin-right-40 {
  margin-right: 2.8568rem !important;
}
.margin-right-50 {
  margin-right: 3.571rem !important;
}
.margin-bottom-5 {
  margin-bottom: 0.3571rem !important;
}
.margin-bottom-10 {
  margin-bottom: 0.7142rem !important;
}
.margin-bottom-15 {
  margin-bottom: 1.0713rem !important;
}
.margin-bottom-20 {
  margin-bottom: 1.4284rem !important;
}
.margin-bottom-30 {
  margin-bottom: 2.1426rem !important;
}
.margin-bottom-40 {
  margin-bottom: 2.8568rem !important;
}
.margin-bottom-50 {
  margin-bottom: 3.571rem !important;
}
.margin-bottom-100 {
  margin-bottom: 7.142rem !important;
}
@media (max-width: 991px) {
  .specialist-photo {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .specialist-info {
    text-align: center;
  }
  .specialist-img {
    background-position: center 0;
  }
}
@media (max-width: 576px) {
  header .phone-box,
  header .mode-box {
    padding: 0;
    background: none;
  }
  header .navbar {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  header .phone-box,
  header .mode-box {
    padding: 0;
    background: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header > div:last-child {
    max-width: 100%;
    padding: 0;
  }
  header .navbar form input.form-control {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    font-size: 12px;
  }
  .navbar-expand-lg .navbar-nav .nav-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -1px;
    height: 80%;
    width: 2px;
    background: #cdcdcd;
    border-left: 1px solid #f2f2f2;
  }
}