@media screen and (min-width: 576px) {
.specialist-item .row {
    height: 100%;
}	
.specialist-info {
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
	-webkit-box-orient:vertical;
  -webkit-flex-direction:column;
  flex-direction:column;
	-webkit-box-pack:justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.specialist-info .font-italic {
	min-height: 40px;
}	
.specialist-info .btn {
	width: 161px;
}
}
@media screen and (min-width: 576px) and (max-width: 768px) {
.specialist-info .btn {
	margin: 0 auto;
	}
}
@media screen and (min-width: 992px) {
.specialist-info {
	display: block;
}
.specialist-info .h5 {
	min-height: 40px;
}
.specialist-info .font-italic {
	min-height: 98px;
}
.specialist-info .btn {
	width: auto;
	margin: 0;
}	
}